<!DOCTYPE html>
<html>
<head>
    <title>Cricket Scorecard</title>
</head>
<body>
    <h1>Cricket Scorecard</h1>

    {% for team in teams %}
        <h2>{{ team.name }} - Score: {{ team.score }}/{{ team.wickets }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Runs</th>
                    <th>Balls Faced</th>
                    <th>4's</th>
                    <th>6's</th>
                </tr>
            </thead>
            <tbody>
                {% for player in team.player_set.all %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.runs }}</td>
                        <td>{{ player.balls_faced }}</td>
                        <td>{{ player.fours }}</td>
                        <td>{{ player.sixes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</body>
</html>