<!doctype html>
    <html>
        <body>
            <h3>Rock-Paper-Scissors</h3>
            <p>User: {{request.session.user_wins}} 
            Computer: {{request.session.computer_wins}}</p>
            <p>You Chose {{user}}</p>
            <p>Computer chose {{computer}}</p>
            <p>Winner: {{outcome}}</p>
            <a href="{% url 'show_rps_form' %}">Play Again</a>
            <a href="{% url 'reset_wins' %}">Reset Scores</a>
        </body>
    </html>